.introduction-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 20px 10px;
}

.intro-title {
  font-size: 35px;
  font-weight: 600;
  color: white;
  word-wrap: break-word;
  margin-bottom: 8%;
}
.intro-description {
  margin-top: 0;
font-size: 14px;
font-weight: 50;
color: white;
}

.most-famous-market-button {
margin: 0;
border: none;
border-radius: 15px;
background-color: #3B3B3B;
margin-top: 20px;
padding-bottom: 10px;
}

.most-famous-market-image {
  width: 100%;
  height: 75%;
  
}

.most-famous-market-image-title {
  text-align: start;
  margin-left: 5%;
  color: white;
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 0;
}

.most-famous-market-user {
  display: flex;
  align-items: center;
  margin-left: 5%;
  }
  
.most-famous-market-user-image {
width: 8%;
height: 8%;
margin-left: -5px;
margin-right: 8px;
}

.most-famous-market-user-info-name {
color: white;
font-size: 15px;
}

.get-start-container {
  width: 98%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--violate-color);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.get-start-text {
color: white;
font-weight: 600;
}

.users-numbers-collection {
  margin-top: 15px;
  display: flex;
  direction: row;
  color: white;
  gap: 20%;
}

.total-sales,
.auctions,
.artist {
  font-size: 20px;
  font-weight: 600;
}

.total-sales span,
.auctions span,
.artist span {
display: block;
margin-top: 3px;
font-size: 15px;
font-weight: 200;
}


@media  (min-width: 768px){
  .introduction-grid {
    margin: 30px 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .most-famous-market-button {
    grid-row: span 2;
    height: 100%;
  }
.intro-title {
  font-size: 40px;
}
.intro-description {
  font-size: 1.5rem;
font-weight: 50;
color: rgb(192, 192, 192);
}
  .get-start-container {
    height: 60px;
    width: 240px;
    border-radius: 20px;
  margin-bottom: 0;  
  }
  /* i need to make this go up*/
.users-numbers-collection {
  margin-top: 30px;
  
}
}
@media  (min-width: 992px){
  .introduction-grid {
    margin: 60px 60px;
  }
  
  .intro-title {
    font-size: 80px;
    align-content: start;
    margin-top: 0;
  }

  .most-famous-market-button {
    grid-row: span 2;
    height: 60%;
  }
}